body {
  font-family: tbudrgothic-std, sans-serif;
  font-weight: 700;
  font-style: normal;
}

img {
  max-width: 100%;
}

.link {
  fill: none;
  stroke: #555;
  stroke-opacity: 0.4;
  stroke-width: 1.5px;
}
