@keyframes move-cloud {
  100% {
    transform: translateX(var(--ww));
  }
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-3px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes move {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.99);
  }
  100% {
    transform: scale(1);
  }
}

.cloud {
  left: 0;
  position: absolute;
  z-index: 0;
  animation: move-cloud 10s linear infinite forwards;
  > * {
    animation: float 3s ease-in-out infinite forwards,
      move 1s ease-in-out infinite forwards;
  }
}
