@keyframes move-cloud {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: 417px;
  }
}

.cloud {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(./cloud.png?webp) repeat-x left top/ 417px auto;
  position: absolute;
  z-index: 0;
  animation: move-cloud 10s linear infinite forwards;
}
